{# CSS FONTS #}
<link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

{# CSS LINKS #}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
<link href="{{ url_for('static', filename='css/jquery.mb.YTPlayer.min.css') }}" media="all" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">