{% extends "_main.html" %}

{% block title %} Change password {% endblock %}

{% block main %}
<div class="site-wrap">
    <div class="site-section">
      <div class="container">
        <div class="align-items-center justify-content-center">
            <div class="login-page">
              <div class="form">
                <form action="{{ url_for('change_password') }}" method="post" class="login-form">
                    {{ form.csrf_token }}
                    {{ form.old_password }}
                    {{ form.new_password }}
                    {{ form.submit }}
                </form>
              </div>
            </div>

        </div>

      </div>
    </div>
{% endblock %}